In [17]:
import pandas as pd

In [18]:
from sklearn.datasets import load_iris

In [19]:
fl_obj=load_iris()

In [20]:
dir(fl_obj)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [21]:
fl_obj.data[0]

array([5.1, 3.5, 1.4, 0.2])

In [22]:
fl_obj.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [23]:
fl_obj.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [24]:
fl_obj.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [26]:
df=pd.DataFrame(fl_obj.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [29]:
df['output']=fl_obj.target
df.head()

     0    1    2    3  output
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [39]:
df['name']=df.output.apply(lambda x: fl_obj.target_names[x])
df.head()

     0    1    2    3  output    name
0  5.1  3.5  1.4  0.2       0  setosa
1  4.9  3.0  1.4  0.2       0  setosa
2  4.7  3.2  1.3  0.2       0  setosa
3  4.6  3.1  1.5  0.2       0  setosa
4  5.0  3.6  1.4  0.2       0  setosa

In [40]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['output','name'],axis='columns'),df.output,test_size=0.2)

In [56]:
from sklearn.ensemble import RandomForestClassifier

In [82]:
model=RandomForestClassifier(n_estimators=18)

In [83]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=18)

In [84]:
model.score(X_test,y_test)

1.0

In [85]:
model.predict(X_test)

array([1, 0, 2, 2, 0, 0, 2, 1, 1, 2, 0, 1, 2, 0, 0, 2, 2, 1, 0, 2, 1, 1,
       2, 2, 0, 1, 0, 0, 2, 0])