In [26]:
import numpy as np
import math
x=np.array([92,56,88,80,80,49,65,35,66,67])
y=np.array([98,68,81,80,83,52,66,30,68,73])

In [29]:
def gradient_descent(x,y):
    m_curr=b_curr=0
    n=len(x)
    iterations=10
    learn_rate=0.01
    prev_cost=0
    for i in range(iterations):
        y_predicted=m_curr*x+b_curr
        cost=(1/n)*sum([val**2 for val in (y-y_predicted)])
        if math.isclose(prev_cost,cost,rel_tol=1e-20):
            break
        else:

            m_deriv=-(2/n)*sum(x*(y-y_predicted))
            b_deriv=(2/n)*sum(y-y_predicted)
            m_curr=m_curr-learn_rate*m_deriv
            b_curr=b_curr-learn_rate*b_deriv
            prev=cost
        print('m= {} b= {} cost= {} iteration:{}'.format(m_curr,b_curr,cost,i))

In [30]:
gradient_descent(x,y)

m= 100.51800000000001 b= -1.3980000000000001 cost= 5199.1 iteration:0
m= -9615.666552000004 b= 133.47844800000001 cost= 48323247.48018163 iteration:1
m= 929562.1634718725 b= -12904.093827552006 cost= 451502353828.8535 iteration:2
m= -89852471.49523047 b= 1247322.7199637562 cost= 4218559405376244.0 iteration:3
m= 8685245675.068611 b= -120567683.5711695 cost= 3.941561612435224e+19 iteration:4
m= -839526061986.1931 b= 11654214096.752445 cost= 3.6827519661862994e+23 iteration:5
m= 81149576558610.5 b= -1126510041675.9883 cost= 3.440936201951087e+27 iteration:6
m= -7844013514069852.0 b= 108889785570964.94 cost= 3.2149984725033235e+31 iteration:7
m= 7.582115719910392e+17 b= -1.0525414743796338e+16 cost= 3.0038961990454347e+35 iteration:8
m= -7.328962231770109e+19 b= 1.017398968581177e+18 cost= 2.8066552602787533e+39 iteration:9

In [ ]:
# method2: find m and b using sklearn

In [18]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [20]:
df3=pd.read_csv('test_scores.csv')
df3

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [22]:
reg_obj3=linear_model.LinearRegression()
reg_obj3.fit(df3[['math']],df3['cs'])

LinearRegression()

In [23]:
reg_obj3.coef_

array([1.01773624])

In [24]:
reg_obj3.intercept_

1.9152193111569034